<h1>Erfolgsgeschichten</h1>
<div class="row excerpts-row">


  <div class="card col  col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12">
    <img class="card-img-top" src="https://picsum.photos/300/200/?random=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <a href="https://www.ecocrowd.de/projekte/dbsh-fsa-crowdfunding-kampagne-plattform-fuer-veraenderungen-in-der-sozialen-arbeit/"
          title="DBSH &amp; FSA Crowdfunding Kampagne – Plattform für Veränderungen in der Sozialen Arbeit" rel="bookmark">DBSH &amp; FSA Crowdfunding Kampagne – Plattform für Veränderungen in der Sozialen Arbeit</a>
      </h5>
      <h6 class="card-subtitle text-muted">
        <a href="https://www.ecocrowd.de/projekt-starter/foerdervereins-fuer-soziale-arbeit-fsa/" title="Fördervereins für Soziale Arbeit (FSA)">von Fördervereins für Soziale Arbeit (FSA)</a>
      </h6>
    </div>

  </div>

  <div class="card col  col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12">
    <img class="card-img-top" src="https://picsum.photos/300/200/?random=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <a href="https://www.ecocrowd.de/projekte/dbsh-fsa-crowdfunding-kampagne-plattform-fuer-veraenderungen-in-der-sozialen-arbeit/"
          title="DBSH &amp; FSA Crowdfunding Kampagne – Plattform für Veränderungen in der Sozialen Arbeit" rel="bookmark">DBSH &amp; FSA Crowdfunding Kampagne – Plattform für Veränderungen in der Sozialen Arbeit</a>
      </h5>
      <h6 class="card-subtitle text-muted">
        <a href="https://www.ecocrowd.de/projekt-starter/foerdervereins-fuer-soziale-arbeit-fsa/" title="Fördervereins für Soziale Arbeit (FSA)">von Fördervereins für Soziale Arbeit (FSA)</a>
      </h6>
    </div>

  </div>



  <div class="card col  col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12">
    <img class="card-img-top" src="https://picsum.photos/300/200/?random=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <a href="https://www.ecocrowd.de/projekte/dbsh-fsa-crowdfunding-kampagne-plattform-fuer-veraenderungen-in-der-sozialen-arbeit/"
          title="DBSH &amp; FSA Crowdfunding Kampagne – Plattform für Veränderungen in der Sozialen Arbeit" rel="bookmark">DBSH &amp; FSA Crowdfunding Kampagne – Plattform für Veränderungen in der Sozialen Arbeit</a>
      </h5>
      <h6 class="card-subtitle text-muted">
        <a href="https://www.ecocrowd.de/projekt-starter/foerdervereins-fuer-soziale-arbeit-fsa/" title="Fördervereins für Soziale Arbeit (FSA)">von Fördervereins für Soziale Arbeit (FSA)</a>
      </h6>
    </div>

  </div>


  <div class="card col  col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12">
    <img class="card-img-top" src="https://picsum.photos/300/200/?random=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <a href="https://www.ecocrowd.de/projekte/dbsh-fsa-crowdfunding-kampagne-plattform-fuer-veraenderungen-in-der-sozialen-arbeit/"
          title="DBSH &amp; FSA Crowdfunding Kampagne – Plattform für Veränderungen in der Sozialen Arbeit" rel="bookmark">DBSH &amp; FSA Crowdfunding Kampagne – Plattform für Veränderungen in der Sozialen Arbeit</a>
      </h5>
      <h6 class="card-subtitle text-muted">
        <a href="https://www.ecocrowd.de/projekt-starter/foerdervereins-fuer-soziale-arbeit-fsa/" title="Fördervereins für Soziale Arbeit (FSA)">von Fördervereins für Soziale Arbeit (FSA)</a>
      </h6>
    </div>

  </div>

</div>